@import url(global.css);

.custom-container {
    display: block;
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-image: url(resources/bg-1.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    overflow: hidden;
}

.overlay-bg-mobile {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.6);
    overflow: hidden;
}

.hero-wrapper {
    display: block;
    position: relative;
    /* background-color: rgba(0, 0, 0, 0.6); */
    text-align: center;
}

.hero-wrapper img {
    width: 300px;
    margin: 50px auto 0;
}

.login-text-description {
    display: none;
}

.login-wrapper {
    display: block;
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
}


.login-card {
    position: relative;
    height: fit-content;
    padding: 35px 20px 10px;
    width: 90%;
    max-width: 400px;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
}

@media only screen and (min-width: 768px) {
    
        
    .hero-wrapper img {
        width: 300px;
        margin: 50px auto 0;
    }


}


@media only screen and (min-width: 1400px) {
    
    .custom-container {
        display: flex;
    }
    
        
    .overlay-bg-mobile {
        display: block;
        background-color: rgba(0, 0, 0, 0.4);
    }

    .hero-wrapper {
        width: 25%;
        background-color: rgba(0, 0, 0, 0.8);
        box-shadow: 0 2px 6px rgba(146, 145, 145, 0.8);
    }

    .hero-wrapper img {
        width: 350px;
        margin: 80px auto 0;
    }

    .login-text-description {
        display: block;
        padding: 25px 50px;
        text-align: center;
        color: rgb(189, 189, 189);
        font-family: var(--poppins);
        line-height: 1.8;
    }

    .login-wrapper {
        position: relative;
        top: 0;
        height: 100%;
        width: 75%;
    }


}